.search--div {
    position: relative;
}

.node-id {
    position: absolute;
    z-index: 999;
    top: 60px;
    background-color: white;
    padding: 10px;
    display: none;
}

.search--div form{
    margin: 0px;
}

.logo {
    width: 100px;
}